/* ---------------- Global CSS ---------------- */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* ---------------- HEADER CSS ---------------- */

#header div {
  display: flex;
}

#header div img{
  width: 55px;
  height: 45px;
}