/* ---------------- Global CSS ---------------- */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent linear-gradient(90deg, #6C1EB7 0%, #6E20B5 40%, #F7B01D 100%) 0% 0% no-repeat padding-box;
}

#mainPage{
  margin: 0 350px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* ---------------- HEADER CSS ---------------- */

#header #divHeader{
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

#header div img{
  width: 55px;
  height: 45px;
}

#header #dropDown{
  justify-content: center;
  display: flex;
}

#header #divHeader #dropDown span{
  width: 100%;
  border-bottom: none;
  font-size: 16px;
  margin: 0;
  border: none;
  font-weight: 600;
  color: #fff;
}

#header #divHeader .logo{
  display: flex;
  color: #fff;
  align-items: center;
}

#header #divHeader .logo > label{
  margin-left: 10px;
}

/* ---------------- BODY CSS ---------------- */

#bodyComponent{
  margin: 20px auto 0;
}

#bodyComponent .cap{
  display: flex;
}

#bodyComponent .capa img{
  width: 100%;
  height: 300px;
  margin: auto;
}

#bodyComponent .perfil img{
  height: 100px;
  width: 100px;
  position: absolute;
  top: 328px;
  left: 551px;
  border-radius: 50%;
  border: 5px solid #6C1EB7;
}

#bodyComponent .cards .grid-container {
  display: grid;
  grid-column-gap: 85px;
  grid-row-gap: 150px;
  grid-template-columns: auto auto auto;
  margin: 150px auto;
}

#bodyComponent .cards .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  height: 350px;
  border: 6px solid #fff;
}

#bodyComponent > label{
  margin-left: 340px;
  color: #fff;
  font-weight: 500;
}

#bodyComponent #editButton {
  margin-left: 150px;
  width: 80px;
  height: 30px;
  border: none;
  background-color: #e3e3e3;
  cursor: pointer;
  color: #302f2f;
}

#bodyComponent .itensImage {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#bodyComponent .itensImage button {
  margin-top: 10px;
  border: none;
  background-color: #d45757;
  color: #e3e3e3;
  height: 30px;
  cursor: pointer;
}

#bodyComponent #changeTitle {
  color: #fff;
  background-color: #c9a626;
}

#bodyComponent #imageTitle {
  text-align: center;
  color: #fff;
  font-weight: 500;
  margin: 10px 0;
}

#bodyComponent #newTitle {
  background-color: #e3e3e3;
  border-radius: 5px;
  border: 2px solid #e3e3e3;
  margin-top: 25px;
}

#bodyComponent .formEdit label{
  color: #fff;
  font-weight: 500;
}

#bodyComponent #uploadButton {
  margin-top: 10px;
  border: none;
  background-color: #37a37f;
  color: #e3e3e3;
  height: 30px;
  font-weight: 500;
  cursor: pointer;
  padding: 0 50px;
}

#bodyComponent #chooseFile {
  margin-top: 10px;
  background-color: #6E20B5;
  color: #e3e3e3;
  height: 30px;
  cursor: pointer;
  border: 2px solid #e3e3e3;
  border-radius: 5px;
}

#bodyComponent .formEdit {
  display: inline-block;
  margin: 5px;
}

#bodyComponent #title {
  margin-top: 10px;
  background-color: #e3e3e3;
  border-radius: 5px;
  border: 2px solid #e3e3e3;
}

#bodyComponent .mainDiv {
  display: flex;
  justify-content: center;
}

#bodyComponent .mainDiv label {
  color: #fff;
  font-weight: 500;
}

/* ---------------- FOOTER CSS ---------------- */

#footer {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #000;
  height: 150px;
  align-items: center;
}

#footer > img{
  width: 100px;
  height: 100px;
}

#footer .info div label{
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}